In [8]:
import MySQLdb

In [17]:
dsn_database = "bot"   # e.g. "MySQLdbtest"
dsn_hostname = "localhost"       # e.g.: "mydbinstance.xyz.us-east-1.rds.amazonaws.com"
dsn_port = 3306                        # e.g. 3306 
dsn_uid = "root"             # e.g. "user1"
dsn_pwd = "123456"            # e.g. "Password123"

In [18]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [16]:
conn.query("""insert into  restaurants values( 'Pot Pourri', 'west','Punjabi' , 'cheap');""")
conn.query("""insert into  restaurants values( 'Paradise', 'east','Indian' , 'expensive');""")
conn.query("""insert into  restaurants values( 'Pista House', 'south','Indian' , 'cheap');""")
conn.query("""insert into  restaurants values( 'Subway','north','American' , 'expensive');""")
conn.query("""insert into  restaurants values( 'Momo House', 'east','Italian' , 'cheap');""")
conn.query("""insert into  restaurants values( 'Olive Bistro', 'west','American' , 'medium');""")
cursor=conn.cursor()
cursor.execute("""SELECT * FROM restaurants""")
cursor.fetchone()

OperationalError: (1412, 'Table definition has changed, please retry transaction')

In [12]:
conn.query("""create table restaurant (name varchar(150) primary key, location varchar(200), popularfood varchar(200), cuisine varchar(50), rating integer)""")

In [14]:
conn.query("""insert into restaurant values( 'Minerva', 'Gachibowli', 'idly' ,'South Indian' , 4)""")

In [15]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM restaurant""")
cursor.fetchone()

('Minerva', 'Gachibowli', 'idly', 'South Indian', 4L)